#
# List used by git-shortlog to fix different spellings of the same names
#

João Felipe Pimentel <joaofelipenp@gmail.com>
João Felipe Pimentel <jpimentel@ic.uff.br> <joaofelipenp@gmail.com>
Leonardo Murta <leomurta@ic.uff.br>
Leonardo Murta <leomurta@ic.uff.br> <leomurta@gmail.com>
Leonardo Murta <leomurta@ic.uff.br> Leonardo Gresta Paulino Murta
Vanessa Braganholo <vanessa@ic.uff.br>
Vanessa Braganholo <vanessa@ic.uff.br> <vanessa.braganholo@gmail.com>
Vanessa Braganholo <vanessa@ic.uff.br> Vanessa Braganholo Murta
