#
# List used by git-shortlog to fix different spellings of the same names
#

João Felipe Pimentel <joaofelipenp@gmail.com>
João Felipe Pimentel <jpimentel@ic.uff.br> <joaofelipenp@gmail.com>
Leonardo Murta <leomurta@ic.uff.br>
Leonardo Murta <leomurta@ic.uff.br> <leomurta@gmail.com>
Leonardo Murta <leomurta@ic.uff.br> Leonardo Gresta Paulino Murta
Vanessa Braganholo <vanessa@ic.uff.br>
Vanessa Braganholo <vanessa@ic.uff.br> <vanessa.braganholo@gmail.com>
Vanessa Braganholo <vanessa@ic.uff.br> Vanessa Braganholo Murta

# Consolidate ambiguous contributor identities
Arthur Paiva <arthurpaivasg@yahoo.com.br> ArthurPaiva96 <arthurpaivasg@yahoo.com.br>
Arthur Paiva <arthurpaivasg@yahoo.com.br> arthurpaiva96 <arthurpaivasg@yahoo.com.br>
Arthur Paiva <arthurpaivasg@yahoo.com.br> Arthur Paiva <38266341+ArthurPaiva96@users.noreply.github.com>
Erick Grilo <simasgrilo86@gmail.com> Erick grilo <simasgrilo86@gmail.com>
Erick Grilo <simasgrilo86@gmail.com> Erick Simas Grilo <simasgrilo86@gmail.com>
anaeletrica <engcarolinetorres@gmail.com> anaeletrica <164184999+anaeletrica@users.noreply.github.com>
Felipe Coutinho <felipe_coutinho@id.uff.br> Felipe Coutinho <50851501+Felipe-CdS@users.noreply.github.com>
JoshuaGlaZ <joshuaminex02@gmail.com> JoshuaGlaZ <128287164+JoshuaGlaZ@users.noreply.github.com>
