<html>
  <head>
    <title>Nowviz - {{ cwd }}</title>
    <link rel="stylesheet" href="trials.css">
    <link rel="stylesheet" href="external/jquery.splitter.css">
  </head>
  <body>
      <div id="splitter">
        <div id="history" style="overflow: auto"></div>
        <div id="show">
          <div id="graphbox">
            <form class="toolbar">
              <input id="indgraph" type="radio" name="graphtype" value="independent" checked>
              <label for="indgraph" title="Calls have counting independent from caller activations">Exact Match</label>
              <input id="combgraph" type="radio" name="graphtype" value="combined">
              <label for="combgraph" title="Calls are combined and a function may have more than one call workflow">Combined</label>
            </form>
            <div id="graph"></div>
          </div>
          <div id="side">
            <div id="side-internal"></div>

          </div>
        </div>
      </div>
  </body>
  <script src="external/jquery-1.11.1.min.js" charset="utf-8"></script>
  <script src="external/jquery.splitter-0.14.0.js" charset="utf-8"></script>

  <script src="d3-v3.4.11/d3.min.js" charset="utf-8"></script>
  <script src="history_graph.js" charset="utf-8"></script>
  <script src="trial_graph.js" charset="utf-8"></script>
  <script src="trials.js" charset="utf-8"></script>
</html>