@import '~@phosphor/dragdrop/style/index.css';
@import '~@phosphor/widgets/style/index.css';

.p-TabBar {
  min-height: 24px;
  max-height: 24px;
}

.p-TabBar-content {
  min-width: 0;
  min-height: 0;
  align-items: flex-end;
  border-bottom: 1px solid #C0C0C0;
}


.p-TabBar-tab {
  padding: 0px 10px;
  background: #E5E5E5;
  border: 1px solid #C0C0C0;
  border-bottom: none;
  font: 12px Helvetica, Arial, sans-serif;
  flex: 0 1 180px;
  min-height: 20px;
  max-height: 20px;
  min-width: 35px;
  margin-left: -1px;
  line-height: 20px;
}


.p-TabBar-tab.p-mod-current {
  background: white;
}


.p-TabBar-tab:hover:not(.p-mod-current) {
  background: #F0F0F0;
}


.p-TabBar-tab:first-child {
  margin-left: 0;
}


.p-TabBar-tab.p-mod-current {
  min-height: 23px;
  max-height: 23px;
  transform: translateY(1px);
}


.p-TabBar-tabIcon,
.p-TabBar-tabLabel,
.p-TabBar-tabCloseIcon {
  display: inline-block;
}


.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon {
  margin-left: 4px;
}


.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon:before {
  content: '\f00d';
  font-family: FontAwesome;
}


.p-TabBar-tab.p-mod-drag-image {
  min-height: 23px;
  max-height: 23px;
  min-width: 125px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateX(-40%) translateY(-58%);
}

.p-DockPanel-overlay {
  background: rgba(255, 255, 255, 0.6);
  border: 1px dashed black;
  transition-property: top, left, right, bottom;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.content {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #C0C0C0;
  border-top: none;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.content > div {
  flex: 1 1 auto;
  /*border: 1px solid #505050;*/
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

#main {
  flex: 1 1 auto;
}


.side-info {
  margin: 5px;
  font-size: 14px;
}

.side-info .main h1 {
  margin: 0;
}

.side-info .main h3 {
  margin: 0 0 8px 0;
}

.side-info .attr {
  display: block;
  margin: 3px 0;
}

.side-info .desc {
  font-weight: bold;
}

.side-info .fold {
  margin-top: 15px;
  font-size: 2em;
}

.side-info .fold:hover {
  cursor: pointer;
}

.side-info .fold span {
  padding-left: 7px;
}

.side-info .show-all {
  color: rgb(50, 38, 41);
  float: right;
  margin-right: 10px;
}

.side-info ul.mod-list,
.side-info ul.env-list,
.side-info ul.fac-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.side-info ul.mod-list li,
.side-info ul.fac-list li {
  border-left: 3px solid black;
  margin: 6px 4px;
  padding: 1px 3px;
}

.side-info ul.env-list li {
  margin: 3px;
  font-size: 0.8em;
}

.side-info ul.env-list li .key {
  font-weight: bold;
}

.side-info ul.mod-list li .version,
.side-info ul.fac-list li .mode,
.side-info ul.fac-list li .buffering {
  float: right;
  margin-left: 20px;
}

.side-info .clear {
  clear: both;
}

.hash {
    font-size: 12px;
    color: #666;
}

.dbefore {
  color: red !important;
}

.dafter {
  color: green !important;
}

.dbefore::before {
  color: red !important;
  content: ' - ';
  font-family: "Courier New", Courier, monospace;
}

.dafter::before {
  color: green !important;
  content: ' + ';
  font-family: "Courier New", Courier, monospace;
}

.libefore {
  border-left: 3px solid red !important;
  color: red !important;
}

.liafter {
  border-left: 3px solid green !important;
  color: green !important;
}

.connection-error:hover {
  cursor: pointer;
}

.error-text {
  font-size: 15px;
  margin-left: 3px;
  vertical-align: middle;
}