.trial-content,
.trial-content .sub-content,
.trial-content .sub-content > div {
    overflow: hidden !important;
}

.trial-content .graphselector .graph-attr:first-child label {
    margin-right: 17px;
}

.trial-content .graphselector {
    width: 100%;
    padding-left: 8px;
}

.trial-content .graphselector .use-cache {
    margin-top: 10px;
    margin-left: 0px;
}

.trial-content .graphselector a.link-button {
    margin-top: 10px;
    width: 273px;
}

.trial-content .toggle-label {
    margin-right: 5px;
}

.graphselector > div:first-child {
    margin-top: 8px;
}

.graphselector > a:last-child {
    margin-bottom: 8px;
}